.profile {
		margin: 1rem;
		margin-top: 20%;
		max-width: 25rem;
		min-height: 15rem;
}


.picture {
		opacity: 0;
		width: 8rem;
		height: 8rem;
		overflow: hidden;
		border-radius: 100%;
		transform: scale(.2);
		background-color: #333;
		animation: picture .5s 1s forwards ease-in-out;
	}

@keyframes picture {
	0% {
		opacity: 0;
		transform: scale(.2);
	}
	10% {
		opacity: 1;
		transform: scale(.2);
	}
	20% {
		opacity: 0;
		transform: scale(.2);
	}
	30% {
		opacity: 1;
		transform: scale(.2);
	}
	40% {
		opacity: 0;
		transform: scale(.2);
	}
	50% {
		opacity: 1;
		transform: scale(.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.picture img {
		opacity: 0;
		transform: translate(2rem, 3rem);
		animation: image 200ms 1.6s forwards ease-in-out;
}

@keyframes image {
		0% {
			opacity: 0;
			transform: translate(2rem, 3rem);
		}
		10% {
			opacity: 1;
			transform: translate(2rem, 3rem);
		}
		20% {
			opacity: 0;
			transform: translate(0, 0);
		}
		30% {
			opacity: 1;
		}
		40% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		60% {
			opacity: 0;
		}
		70% {
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
}

.title h1 {
	margin: 0;
	font-size: 2rem;
	font-weight: 700;
	text-align: right;
	position: relative;
}


.title span {
	opacity: 0;
	display: block;
	transform: translateY(100%);

	animation:
		title 200ms 360ms forwards ease-in-out;
}

@keyframes title {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.title h1::after {
	right: 0;
	top: 100%;
	left: 100%;
	content: '';
	height: 1px;
	display: block;
	position: absolute;
	background-color: #333;

	animation:
		line 260ms 100ms forwards ease-in-out;
}

@keyframes line {
	0% {
		left: 100%;
	}
	100% {
		left: 20%;
	}
}

.title h1::before {
	right: 0;
	left: 100%;
	content: '';
	height: .75rem;
	display: block;
	bottom: -.25rem;
	position: absolute;
	background-color: rgba(255,0,0,.3);

	animation:
		red-line 260ms 560ms forwards ease-in-out;
}

@keyframes red-line {
	0% {
		left: 100%;
	}
	100% {
		left: 30%;
	}
}
