main {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	overflow: hidden;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}

@media (min-height: 800px) {
	main {
		padding-top: 15vh;
	}
}
